// Created by WareBare on 4/21/2017.

#appGD_RunicInscriptions{
    .runesList, .inscriptionsList{
        display: inline-block;
        vertical-align: top;
    }
    .runesList{

    }
    .inscriptionsList{

    }
    .materia{
        background-color: #3F3F3F;
    }
}

.ListItemPreview
{
    display: inline-block;
    border-width: 1px;
    background-color: #2F2F2F;

    margin: 2px;

    ul{
        margin: 5px;
        li{
            list-style: none;
        }
        
    }

    select{
        background-color: #4F4F4F;
        width: 245px;
    }
}
