// Created by WareBare on 4/21/2017.

#appGD_RunicInscriptions{
    .runesList, .inscriptionsList{
        display:inline-block;
        vertical-align: top;
    }
    .runesList{

    }
    .inscriptionsList{

    }
    .materia{
        background-color: #3F3F3F;
    }
}
